<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788846771917-26kt8idtrt8mf7bgfb23nu75gict265d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788846771917-26kt8idtrt8mf7bgfb23nu75gict265d</string>
	<key>API_KEY</key>
	<string>AIzaSyDjcOmRWV4bB1zFijP2kBq_cy4VVgES88c</string>
	<key>GCM_SENDER_ID</key>
	<string>788846771917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.aapp</string>
	<key>PROJECT_ID</key>
	<string>a-app-89648</string>
	<key>STORAGE_BUCKET</key>
	<string>a-app-89648.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788846771917:ios:99e59429a2b0cc58ae7384</string>
</dict>
</plist>